*{
    box-sizing: border-box;
}
.main{
    margin: 50px;
    border: 1px solid green;
    display: flex;
}
#ball{
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    height: 50px;
    width: 50px;
    animation-name: prasad;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    background: transparent;
    
}
@keyframes prasad {
    0%{
       top:0px;
    left: 0px;
    }
    20%{
        top: 80%;
        left: 0%;
        background-color: yellow;
    }
    40%{
        top: 60%;
        left: 20%;
        background-color: blue
    }
    60%{
        top: 80%;
        left: 50%;
        background-color: tomato
    }
    80%{
        top: 60%;
        left: 80%;
        background-color: red
    }
    100%{
      top: 100%;
      left:100%
    }
}













.box{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 0px;
    color: white;
    border: 1px solid white;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function:ease-in-out ; */
    
    
}

/* .box:hover{
   transform:translate(100px,100px)
} */

.popeye{
 clip-path: polygon(100% 1%, 100% 99%, 0 100%, 0 0);
    transition:all 3s ease;
}
.popeye:hover{
    filter: none;
   clip-path: polygon(4% 17%, 100% 50%, 50% 100%, 40% 71%);
}








.box1{
    position: relative;
    left:50px;
    top: 20px;
  
}
.box4{
    position: relative;
    left: -40px;
}

.box2{
    position: fixed;
    bottom:0px;
    right: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.box3
{
    position: sticky;
    width: 100vw;
    top: 0px;
}

















