/* global css*/
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
*{
    box-sizing: border-box;
   margin: 0px;
   padding: 0px;
  font-family: "Rock Salt", cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  --primary:#EE4E4E;
  --secondary:#219C90;
  --hover:#FFC700

}
a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.swiper img{
width: 100vw;
}
.swiper{
    height: 600px;
}


/* products css*/


#products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

#product{
    display: flex;
    gap: 20px;
}

.productImage{
    height: 400px;
}
.productImage:hover{
    cursor:crosshair
}

.cartitem,#tc
{
    margin: 20px;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
}












