@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
*
{
  font-family:'Times New Roman', Times, serif;
  font-size:16px;
  
}

body{
    /* background:linear-gradient(to right, red,green,red,green,red,green,red,green); */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKSYmdwK3kLawMMTKh10NIErZ4LHYnosyAkC1FeCqi2g&s'); */
 background-repeat:no-repeat;
 background-size: cover;
 background-position: center;
    height: 100vh;

}
/* if you want to any website.. 
design-- fonts, colors */

#para{
    color: red;
    text-align: justify;
    text-transform: lowercase;
}
h1
{
     font-size: 36px;
     /* text-shadow:5px 5px red; */
    
}
a{
  color: black;
  text-decoration: none;
}
.box{
    background-color: red;
    /* height: 2rem; it will take parents fontSize */
    height:50%;
    width:50vw;
}