@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*
{

  font-size:16px;
  
}

body{
    /* background:linear-gradient(to right, red,green,red,green,red,green,red,green); */
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKSYmdwK3kLawMMTKh10NIErZ4LHYnosyAkC1FeCqi2g&s'); 
 background-repeat:no-repeat;
 background-size: cover;
 background-position: end;
    height: 100vh;
    font-size: 16px;

}
/* if you want to any website.. 
design-- fonts, colors */

#para{
    color: red;
    text-align: justify;
    text-transform: lowercase;
}
h1
{
     color: blue;
     text-align: center;
     text-transform: uppercase;
     /* text-decoration: line-through dashed black 5px; */
     text-shadow: 1px 1px black;
    
}
a{
  color: black;
  text-decoration: none;
}
.box{
    background-color: red;
    /* height: 2rem; it will take parents fontSize */
   height: 50vh;
   width: 50vw;
    box-shadow: 5px 5px black;

}
