*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input,button{
height: 50px;
font-size: 18px;
border-radius: 20px;
}
#inp{
    width: 300px;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.movie{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}